
{{> logged-in}}

<div class="row align-items-center mt-3 p-5" style="height: 100px;" onclick="goCreate()">


    <button class="btn btn-outline-info mx-10" type="button">Add Placemark</button>

</div>



{{> list-points-of-interest}}

<script>
function goCreate() { window.location.href = "/create"; }
</script>