{{> logged-in}}

<div class="row align-items-center mt-5" style="height: 100px;">
    <div class="col md-5"></div>
    <div class="col md-1 d-flex rounded-circle border border-info justify-content-center align-items-center bg-white" 
    style=
    "height: 100%;
    
    "
    >
        <button type="button" class="btn btn-outline-warning" onclick="goCreate()">Click here to add a Venue</button>
    </div>
    <div class="col md-5"></div>
</div>



{{> list-points-of-interest}}

<script>
function goCreate() { window.location.href = "/create"; }
</script>