{{> logged-in}}

<div class="row align-items-center mt-3 p-5" style="height: 100px;" onclick="goCreate()">
    {{!-- <div class="col md-1 d-flex rounded-circle border border-info justify-content-center align-items-center bg-white" 
    style=
    "height: 100%;
    
    "
    >
        <button type="button" class="btn btn-outline-warning" onclick="goCreate()">Click here to add a Venue</button>
    </div> --}}

    <button class="btn btn-outline-info mx-10" type="button">Add Placemark</button>

</div>



{{> list-points-of-interest}}

<script>
function goCreate() { window.location.href = "/create"; }
</script>