{{> welcome-menu}}

<div class="columns is-vcentered mt-2">
  <div class="column has-text-centered">
    <h> Sign up or Log in to continue... </h>
  </div>
  <div class="column">
    <img src="/images/rest.jpeg">
  </div>
</div>