{{#each pointsOfInterest}}
  <div class="d-flex justify-content-center bg-light my-5">
    <div class="card mb-3 shadow border-info" style="width: 70%;">
      <div class="row g-0">
        <div class="col-md-5 border-end">
          <img src="..." class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col md-1"></div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text"><small class="text-muted">{{city}},
                {{country}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}