<div class="container">
  <div class="card mx-auto border border-info shadow" style="width: 90%;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Creator: {{poi.creator}} </li>
      <li class="list-group-item">Time created: {{poi.timeCreated}}</li>
      <li class="list-group-item">Date created: {{poi.dateCreated}} </li>

    </ul>
    <div class="card-footer">
      <p class="text-center" style="width: 100%;">

      </p>
    </div>
  </div>
</div>